<!DOCTYPE html>
<html lang="en">


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WoodPecker</title>
    <link href="img/titleicon1.png" rel="icon">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="WoodPecker">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">


    <meta charset="utf-8">
    <title>Keybound</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">


    <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
</head>

<body>
    <!-- Navbar Start -->

    <div class="page-wrapper">
        <main class="main">

            <div class="row align-items-center py-3 px-xl-5">
                <div class="col-lg-3 d-none d-lg-block">
                    <a href="/" class="text-decoration-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">W</span>oodpecker</h1>
                    </a>
                </div>
            </div>

        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">MY ACCOUNT<span></span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">HOME</a></li>
                        <li class="breadcrumb-item"><a href="#">SHOP</a></li>
                        <li class="breadcrumb-item active" aria-current="page">MY ACCOUNT</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">DASHBOARD</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">ORDERS</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">DOWNLOADS</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">ADDRESS</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Add Address</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" href="/logout">SIGN OUT</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
                                    <% if(user.length>=0){
                                        for(let i=1;i<=user.length;i++){ %>
								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
								    	<p>Hello <span class="font-weight-normal text-dark"><%=user[i-1].fname%></span> (not <span class="font-weight-normal text-dark"><%=user[i-1].fname%></span>? <a href="#">Log out</a>) 
								    	<br>
								    	From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
								    </div><!-- .End .tab-pane -->
                                    <% } } %>

								    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                        <table class="table" id="example">
                                            <tbody>
                                            <% if(order.length>0) { %>
                                                  <thead class="thead-dark">
                                              <tr>
                                                <th scope="col" class="text-center">Date</th>
                                                <th scope="col">Details</th>
                                                <th scope="col">Payment Type</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Cancel</th>
                                                <th scope="col">Return</th>
                                                <th scope="col">Details</th>
                                              </tr>
                                            </thead>
                                           <% for(let i=1;i<=order.length;i++) { %>
                                              <tr>
                                                <td><h6><%=order[i-1].createdAt.toDateString() %></h6></td>
                                                <td><form action="/orderDetails?id=<%=order[i-1]._id%>" method="post">
                                                    <button type="submit">Details</button> 
                                                    </form></td>
                                                <td><h6><%=order[i-1].payment %></h6></td>
                                                <td><h6><%=order[i-1].totalPrice %></h6></td>
                                                <td><h6><%=order[i-1].status %></h6></td>
                                                <%if(order[i-1].status!='delivered'||order[i-1].status=='returned'||order[i-1].status=='returnPending'){ %>
                                                <form action="/cancelOrder?id=<%=order[i-1]._id%>" method="post">
                                                    <td><button type="submit" >Cancel</button></td>    
                                                    </form>
                                                <%}if(order[i-1].status=='cancelled'){ %>
                                                    <td><h6>Cancelled</h6></td>
                                                    <%}%>
                                                <%if(order[i-1].status=='delivered'){ %>
                                                    <form action="/returnOrder?id=<%=order[i-1]._id%>" method="post">
                                                    <td><button type="submit" >Apply</button></td>    
                                                    </form>
                                                <%}else if(order[i-1].status=='returnPending'){%>
                                                    <td><h6>Applied</h6></td>
                                                <%}else if(order[i-1].status=='billed'||order[i-1].status=='pending'){%>                  
                                                    <td class="text-center">---</td>
                                                <%}%>  
                                              </tr>
                                              <% }} else{ %>
                                                <p>No order has been made yet.</p>
                                            <%  } %>
                                            </tbody>
                                          </table>
                                          <input type="button" id="#btnExport" value="Export">
								    	<a href="/shop" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
								    	<p>The following addresses will be used on the checkout page by default.</p>

								    	<div class="row">
								    		<div class="col-lg-6 p-2">
                                                <% if(address.length>=0){
                                                for(let i=0;i<address.length;i++){ %>
								    		<div class="card card-dashboard ">
								    				<div class="card-body">
								    					<h3 class="card-title">Billing Address<%[i+1]%></h3><!-- End .card-title -->
														<p><%=address[i].fname%> <%=address[i].lname%><br>
                                                        <%=address[i].email%>,<br> <%=address[i].mno%><br>
														<%=address[i].address1%><br>
														<%=address[i].address2 %>, <%=address[i].city%><br>
                                                        <%=address[i].state%>,PIN:<%=address[i].zip%>
														<a href="#">Edit <i class="icon-edit"></i></a></p>
								    				</div><!-- End .card-body -->
                                                    </div>
								    			</div><!-- End .card-dashboard -->
                                                <% } } %>
								    		</div><!-- End .col-lg-6 -->                                    
								    	</div><!-- End .row -->
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
								    	<form action="/addAddress" method="post">
			                				<div class="row">
			                					<div class="col-sm-6">
			                						<label>First Name *</label>
			                						<input name="fname" type="text" class="form-control" required>
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Last Name *</label>
			                						<input name="lname" type="text" class="form-control" required>
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->

		            						<label>Email *</label>
		            						<input name="email" type="email" class="form-control" required>
		            		

		                					<label>Mobile No*</label>
		        							<input type="text" name="mno" class="form-control" required>

		            						<label>Address 1</label>
		            						<input name="address" type="text" class="form-control">

		            						<label>Address 2</label>
		            						<input name="address2" type="text" class="form-control">

		            						<label>Country</label>
		            						<input name="country" type="text" class="form-control">

                                            <label>City</label>
		            						<input name="city" type="text" class="form-control">

                                            <label>State</label>
		            						<input name="state" type="text" class="form-control">

                                            <label>Zip Code</label>
		            						<input name="zip" type="text" class="form-control">

		                					<button type="submit" class="btn btn-outline-primary-2">
			                					<span>Add Address</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->


    <!-- Footer Start -->
    <%- include('../partials/userFooter') %>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
    
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

    <script>
        $(document).ready( function () {
    $('#orderDetails').DataTable();
} );
    </script>
    
</body>



</html>