<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>WoodPecker</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/titleicon1.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    margin: 0;
}
    </style>
</head>

<body>
    <!-- Topbar Start -->
      <% if(isLoggedin) {
        %>
        <%- include('../partials/userHeader') %>
        <% }else { %>
        <%- include('../partials/normalHeader') %>
    <% } %>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">WishList</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">WishList</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 ">
            <div class="col-lg-12 table-responsive mb-5">
                <table class="table table-bordered  mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Add to cart</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <% if(wishlist.length>0) {
                       for(let i=1;i<=wishlist.length; i++) { %>
                         <tr>
                             <td class="align-middle"><img src="./productImages/<%=wishlist[i-1].productID.pimage %>" alt="" style="width: 40px;">
                                 <%=wishlist[i-1].productID.pname %></td>
                             <td class="align-middle text-center">₹<%=wishlist[i-1].productID.price %></td>
                             <td class="align-middle text-center">
                                <a href="/addToCart?id=<%= wishlist[i-1].productID._id %>" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Move To Cart</a>
                             </td>
                             <td class="align-middle text-center"><a href="/userDeleteWishlist?id=<%=wishlist[i-1]._id %>"><button class="btn btn-sm btn-primary"><i
                                         class="fa fa-times"></i></button></a></td>
                         </tr>
                         <% } } %>
                     </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Cart End -->

    <!-- Footer Start -->
    <%- include('../partials/userFooter') %>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>